<style>
  body {
    background: rgb(249, 248, 250);
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
  }

  .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
  }

  .profile-button:hover {
    background: #682773;
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }

  .back:hover {
    color: white;
    cursor: pointer;
  }

  .labels {
    font-size: 11px;
  }

</style>

<div class="container rounded bg-white mt-5 mb-5 pt=5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold"><%= user.email %></span>
            <span class="text-black-50"><%= user.username %></span>
          </div>
          <div class="d-flex flex-column text-center p-1"><button class="btn btn-primary profile-button" type="button"><a href="/address">Addresses</a></button></div>
          <div class="d-flex flex-column text-center p-1"><button class="btn btn-primary profile-button" type="button"><a href="/orderList">Orders</a></button></div>
          <div class="d-flex flex-column text-center p-1"><button class="btn btn-primary profile-button" type="button"><a href="/reset">Reset Password</a></button></div>
          <div class="d-flex flex-column text-center p-1"><button class="btn btn-primary profile-button" type="button"><a href="/wallet">Wallet</a></button></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Wallet</h4>
              </div>
              <div class="row">
                <div class="card-body">

                  
                  <a href="/wallets?id=<%= wallet?._id %>" class="text-decoration-none text-center p-4 d-block">
                      <i class="pe-7s-wallet fa-3x text-danger mb-3"></i>
                      <h6 class="h4 fw-bold"> Wallet Balance</h6>
                      <p class="text-muted">
                          ₹ <%= wallet?.balance ? wallet.balance.toFixed(2) : "0" %>
                      </p>
                  </a>
              
              </div>
             </div>
            
             
          </div>
      </div>
  </div>
</div>
