<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
   <div class="aside-top">
    <a href="/admin/dashboard" class="brand-wrap">
        <img src="assets/imgs/theme/logo-01.png" class="logo" alt="helmo cart">
    </a>
    <div>
        <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
    </div>
</div>
<nav>
    <ul class="menu-aside">
        <li class="menu-item active">
            <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Product</span>
            </a>
        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Orders</span>
            </a>
           
        </li>
        
        <li class="menu-item">
            <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                <span class="text">Categories</span>
            </a>
            <!-- <div class="submenu">
                <a href="page-sellers-cards.html">Sellers cards</a>
                <a href="page-sellers-list.html">Sellers list</a>
                <a href="page-seller-detail.html">Seller profile</a>
            </div> -->
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/user"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">users</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Coupons</span>
            </a>
        </li>
        
       
    </ul>
    <hr>
   
    <br>
    <br>
</nav>
</aside>
